

  #floor-plan {
    border: 1px solid grey;
    margin: 5px;
    padding: 5px;
  }

  #living-room{
    background-color: green;
  }

  .bedroom {
    background-color: blue;
  }

  #kitchen{
    background-color: orange;
  }

  #oven{
    background-color: red;
  }

  #sink{
background-color: darkred;
  }

  .bath{
background-color: purple;
  }